SITE_BASE_URL=https://icyzhao.com
SITE_CUSTOM_DOMAIN=icyzhao.com
SITE_TITLE=Chenyang Zhao
SITE_DESCRIPTION=Writing, projects, and notes.

NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_VERSION=2022-06-28

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

WECHAT_MP_APP_ID=
WECHAT_MP_APP_SECRET=
